body {
    margin: 0;
    padding: 0;
}

.mother {
    background-color: pink;
}

.TopBar {
    height: 40px;
    background-color: #ffff;
}

.containerAds {
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    /* box-shadow: 2px salmon; */
}

.containerAds p {
    font-size: 30px;
    margin-left: 20%;
    font-weight: bold;
}

.BottomBar {
    height: 40px;
    background-color: #ffff;
}