@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.footer {
    background-color: black;
    height: 350px;
}

.logo-move {
    margin-left: 1%;
}

.navback {
    width: 100px;
    margin-left: 1200px;
    margin-top: -45px;
}

.navback a {
    color: white;
    text-decoration: underline;
}

section {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    color: white;
    font-size: 15px;
    line-height: 250%;
}

.first {
    /* border: 2px solid blue; */
    height: 200px;
    width: 500px;
    text-align: center;
}

.first a {
    text-decoration: none;
    color: white;
}

.pT {
    font-size: 20px;
    /* text-align: center; */
    font-weight: bold;
    margin-bottom: 20px;
}

.first .hs {
    margin-left: 20px;
}

.second {
    /* border: 2px solid green; */
    height: 200px;
    width: 800px;
    text-align: center;
}

.edu {
    margin-left: 40px;
}

.third {
    /* border: 2px solid white; */
    height: 200px;
    width: 500px;
    text-align: center;
}

.socialWords {
    line-height: normal;
}

.social-logos {
    justify-content: center;
}

.slogo {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.copyright {
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .footer {
        height: 610px;
    }

    section {
        display: block;
        font-size: 10px;
    }

    .edu {
        margin-left: 20px;
        margin-top: 10px;
    }

    .pT {
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .pt1 {
        margin-top: 10px;
    }

    .logo-move {
        margin-left: 8%;
    }

    .first, .second, .third {
        height: auto;
        width: auto;
    }

    .navback {
        display: none;
    }

    .slogo {
        padding: 5px;
    }

    .copyright {
        margin-left: 27%;
        margin-top: 10px;
    }
}